@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
}

.navbar {
  padding: 16px 112px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.img-container {
  /* width: 100%; */
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navbar ul li {
  list-style: none;
}

.navbar ul a {
  text-decoration: none;
  color: #475569;
  font-weight: bold;
  font-size: 16px;
}

.navbar button {
  padding: 12px 20px;
  border-radius: 1234px;
  font-weight: bold;
}

.signup-btn {
  font-weight: bold;
  background-color: white;
  border: 1px solid #cbd5e1;
  margin-right: 8px;
}

.login-btn {
  background-color: #4f46e5;
  border: none;
  color: white;
}

.hero {
  padding: 96px 112px;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: linear-gradient(
    165deg,
    #ffffff,
    #ffffff,
    #ffffff,
    #ecf6ff,
    #c2ccff,
    #abb4ff,
    #8b90e9
  );
}

.hero .title {
  margin: 0px 208px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.badge {
  background-color: #eef2ff;
  padding: 6px 12px;
  border-radius: 1234px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.badge p {
  color: #4f46e5;
  font-weight: 600;
  font-size: 14px;
}

.hero .title h1 {
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  margin: 21px 0px;
}
.hero .title .desc {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: #475569;
  /* margin-bottom: 48px; */
}

.hero-btn {
  margin-top: 48px;
}

.hero-img {
  margin-top: 64px;
  position: relative;
}

.hero-img .desktop {
  position: relative;
  right: -40px;
  filter: drop-shadow(0px 550px 154px rgba(30, 41, 59, 0))
    drop-shadow(0px 352px 141px rgba(30, 41, 59, 0.01))
    drop-shadow(0px 198px 119px rgba(30, 41, 59, 0.05))
    drop-shadow(0px 88px 88px rgba(30, 41, 59, 0.09))
    drop-shadow(0px 22px 48px rgba(30, 41, 59, 0.1));
}
.hero-img .phone {
  position: relative;
  right: 40px;
  top: 60px;
  filter: drop-shadow(0px 322px 90px rgba(30, 41, 59, 0))
    drop-shadow(0px 206px 82px rgba(30, 41, 59, 0.01))
    drop-shadow(0px 116px 69px rgba(30, 41, 59, 0.05))
    drop-shadow(0px 51px 51px rgba(30, 41, 59, 0.09))
    drop-shadow(0px 13px 28px rgba(30, 41, 59, 0.1));
}

.social-proof {
  padding: 64px 112px;
  display: flex;
  gap: 64px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main-features {
  padding: 96px 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-features h1 {
  font-size: 36px;
  font-weight: 800;
  margin: 24px 0;
}

.main-features .desc {
  font-size: 20px;
  text-align: center;
  color: #475569;
}

.main-features .features {
  /* display: flex; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 64px;
}

.features-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features-content h3 {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 700;
}

.achievments {
  padding: 96px 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8fafc;
}

.achievments h1 {
  font-size: 36px;
  font-weight: 800;
  margin: 24px 0;
}

.achievments .desc {
  font-size: 20px;
  text-align: center;
  color: #475569;
}

.achievments .badge {
  border-radius: 100%;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.achievments .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}

.stat .stat-content .stat-title {
  font-size: 60px;
  font-weight: 700px;
  color: #4f46e5;
  line-height: 16px;
}

.stat-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0px;
  width: 245px;
}

.stat p {
  color: #475569;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-top: 16px;
}

.achievments .divider {
  height: 108px;
  width: 1px;
  margin: 0px 16px;
  background-color: #cbd5e1;
}

.identity {
  padding: 96px 112px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.identity h1 {
  font-size: 36px;
  font-weight: 800;
  margin-top: 24px;
  margin-bottom: 16px;
}

.identity p {
  color: #475569;
  font-size: 20px;
}

.identity-content {
  margin-top: 64px;
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
}

.identity-list {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 8px;
  padding-right: 96px;
}

.identity-list .left-active {
  background-color: #4f46e5;
  width: 4px;
  border-radius: 1234px;
  height: 140px;
}
.identity-list .left {
  background-color: #e0e7ff;
  width: 4px;
  border-radius: 1234px;
  height: 140px;
}

.identity-list h3 {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
}

.identity-list p {
  color: #475569;
}

.testimonials {
  padding: 96px 112px;
  background-color: #f8fafc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.testimonials h1 {
  font-size: 36px;
  font-weight: 800;
  margin: 24px 0;
}

.testimonials .desc {
  font-size: 20px;
  text-align: center;
  color: #475569;
}

.testimonial-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 32px;
  align-items: start;
  justify-content: start;
  margin-top: 64px;
}

.testimonial-card {
  border-radius: 24px;
  padding: 24px;
  padding-right: 34px;
  height: auto;
  border: 1px solid #e2e8f0;
}

.testimonials .stars {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.testimonial-card p {
  font-size: 18px;
  color: #475569;
  line-height: 160%;
  text-align: start;
}

.card-bottom {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-top: 24px;
}

.bottom-text {
  display: flex;
  height: auto;
  flex-direction: column;
}

.address{
  padding: 64px 112px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 24px;
}

.address h1{
  font-weight: 800px;
  font-size: 36px;
}

.address p{
  font-size: 18px;
  color: #475569;
}

.address-content{
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  /* align-items: center; */
  gap: 32px;
}

.address-card{
  border-radius: 24px;
  border: 1px solid#E2E8F0;
  width: 100%;
  padding: 24px;
}

.address-card img{
  margin-bottom: 24px;
}

.address-card h3{
  margin-bottom: 8px;
}

.address-card .desc{
  color: #1E293B;
}

.faq{
  padding: 96px 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faq h1{
  font-size: 36px;
  font-weight: 800;
  margin: 24px 0;
}

.faq p{
  font-size: 18px;
  color: #475569;
  text-align: center;
}

.faq-content{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 65px;
}

.faq-accordion{
  display: flex; 
  flex-direction: column;
  width: 100%;
  justify-content: space-between; 
  align-items: start;
  padding: 16px;
  border-bottom: 1px solid #CBD5E1;
  cursor: pointer;
  user-select: none;
}

.faq-action{
  display: flex; 
  width: 100%;
  justify-content: space-between; 
  align-items: center;
}

.faq-action div{
  display: flex;
  align-items: center;
  gap: 8px;
}

.faq-accordion p{
  text-align: start;
  margin-top: 16px;
}

.app{
  padding: 64px 112px;
  background-color: #eef2ff;
  display: flex;
  align-items: center;
  gap: 96px;
  height: 653px;
  justify-content: space-between;
  overflow: hidden;
}

.app .text h1{
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 24px;
}

.app .text p{
  font-weight: 700;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 48px;
}

.app .text button{
  padding: 12px 20px;
  border-radius: 1234px;
  background: none;
  font-weight: 700;
}

.app .text .learn-more-btn{
  color: #4f46e5;
  margin-right: 16px;
  border: 1px solid #4f46e5;
}

.app .text .get-started-btn{
  color: white;
  background-color: #4f46e5;
  border: none;
}

.app .img{
  width: 100%;
  display: flex;
  position: relative;
}

.app .img .app-img-1{
  position: absolute;
  top: -290px;
  right: 70px;
}

.app .img .app-img-2{
  position: absolute;
  bottom: -720px;
  right: -310px;
}